* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.calculator {
  background-color: black;
  margin-inline: auto;
  padding: 15px;
  border-radius: 10px;
  width: 100vw;
  height: 100vh;
}

.screen {
  height: 150px;
  background: #d4e2e3;
  margin-bottom: 15px;
  border: 1px solid #fe9500;
  margin-top: 10px;
  position: relative;
}

#display {
  box-sizing: border-box;
  width: 100%;
  background: #d4e2e3;
  border: none;
  font-size: 20px;
  padding-right: 10px;
  color: #000000;
  text-align: right;
  padding-top: 5px;
}

#answerDisplayed {
  box-sizing: border-box;
  width: 100%;
  background: #d4e2e3;
  border: none;
  font-size: 35px;
  padding-right: 10px;
  text-align: right;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #000000;
  border-top: 0.1px solid #333;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap: 10px;
  row-gap: 15px;
  margin-top: 105px;
  margin-bottom: 10px;
}

button {
  background: #333333;
  color: white;
  width: 75px;
  height: 55px;
  border-radius: 10px;
  font-size: 25px;
  border: none;
}

.main-btn {
  background: #fe9500;
  color: white;
}
.top-row {
  background: #a6a6a6;
  color: #000;
  font-size: 30px;
}

.side-row {
  /* background: #fe9500; */
  background: #a6a6a6;
  color: #000000;
  font-size: 40px;
}
